
@model IEnumerable<ParkedVehiclesIndexViewModel>

@{
    ViewData["Title"] = "Översikt";
}

<h1>Översikt</h1>

<p>
    <a asp-action="Create">Checka in fordon</a>
</p>

<form asp-action="Filter" asp-controller="ParkedVehicles" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="registrationNumber" placeholder="Sök på registreringsnummer..." />

        <div class="input-group-append">
            <select class="form-control" name="vehicleType" asp-items="@Html.GetEnumSelectList<VehicleTypes>()">
                <option selected="selected" value="">Välj</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleMakeAndModel)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            *@<th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeParked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.VehicleMakeAndModel)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeParked, "TimeSpanTotal")
                @*@item.TimeParked.TotalHours*@
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" role="button" asp-route-id="@item.ParkedVehicleId">Redigera</a>
                    <a asp-action="Details" class="btn btn-success" role="button" asp-route-id="@item.ParkedVehicleId">Detaljer</a>
                    <a asp-action="Delete" class="btn btn-danger" role="button" asp-route-id="@item.ParkedVehicleId">Checka ut</a>
            </td>
        </tr>
}
    </tbody>
</table>
