@page
@using Ovning12.Pages;
@model StatisticsModel

<h1>Statistik</h1>

<div>
    <h4>Statistik</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberOfWheelsStat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberOfWheelsStat)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyOwedStat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoneyOwedStat)
        </dd>

    </dl>
    <table>
        <tr>
            <th colspan="4">
                @Html.DisplayNameFor(model => model.VehicleTypesStat)
            </th>
        </tr>
        @foreach (var item in Model.VehicleTypesStat)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Key)</td>
                <td>@item.Value</td>
            </tr>

        }
    </table>

</div>
<div>
    <a asp-action="Index">Tillbaka till översikten</a>
</div>
